.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #4a5568;
    /* Adjust color as needed */
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
    to {
        opacity: 0.3;
        transform: translate3d(0, -8px, 0);
    }
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}